
body {
     margin: auto;
     max-width: 1450px;
}


div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

div.general {
    width: 100%; 
    height: 100%;
    position: relative;
    background: white
}

img.photo1 {
    width: 100%;
    height: auto;
    max-width: 100%; 
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav.menu{
    width: 906px;
    height: 25px;
    padding: left;
    top: 28px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400px;
}

div.nom{
    width: 918px;
    height: 91px;
    left: 261px;
    top: 259px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 96px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 9.60px;
    word-wrap: break-word
}

div.lieu{
    width: 535px;
    height: 58px;
    left: 482px;
    top: 530px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 85px;
    font-family: Libre Caslon Display;
    font-weight: 400;
    letter-spacing: 8.50px;
    word-wrap: break-word
}

img.logo{
    width: 211px;
    height: 111px;
    left: 51px;
    top: 1px;
    position: absolute
}

div.citation{
    width: 1153px;
    height: 185px;
    left: 151px;
    top: 925px;
    position: absolute;
    text-align: center;
    color: #604020;
    font-size: 38px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word
}

img.mariage{
    width: 233px;
    height: 308px;
    left: 262px;
    top: 1195px;
    position: absolute
}

img.couple{
    width: 233px;
    height: 309px;
    left: 607px;
    top: 1199px;
    position: absolute
}

img.solo{
    width: 233px;
    height: 308px;
    left: 954px;
    top: 1199px;
    position: absolute
}

div.rectangle1{
    width: 415.40px;
    height: 0px;
    left: 551.30px;
    top: 1139.60px;
    position: absolute;
    transform: rotate(90.33deg);
    transform-origin: 0 0;
    border: 1px black solid
}

div.rectangle2{
    width: 405px;
    height: 0px;
    left: 895px;
    top: 1150px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px black solid
}

div.m{
    width: 279px;
    height: 46px;
    left: 239px;
    top: 1530px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.c{
    width: 231px;
    height: 47px;
    left: 608px;
    top: 1528px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.s{
    width: 229px;
    height: 49px;
    left: 958px;
    top: 1527px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.portfolio{
    width: 354px;
    height: 24px;
    left: 541px;
    top: 1082px;
    position: absolute;
    text-align: center;
    color: #604020;
    font-size: 40px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 12px;
    word-wrap: break-word
}

div.rectangle3{
    width: 1442px;
    height: 363px;
    left: -2px;
    top: 1606px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

div.titre{
    width: 706px;
    height: 55px;
    left: 634px;
    top: 46px;
    position: absolute;
    color: white;
    font-size: 34px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 6.80px;
    word-wrap: break-word
}

img.moi{
    width: 346px;
    height: 196px;
    left: 139px;
    top: 78px;
    position: absolute
}

div.rectangle4{
    width: 267px;
    height: 0px;
    left: 571px;
    top: 48px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 2px black solid
}

div.cv{
    width: 712px;
    height: 200px;
    left: 634px;
    top: 101px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4px;
    word-wrap: break-word
}

img.paysage{
    width: 1440px;
    height: 507px;
    left: -1px;
    top: 1952px;
    position: absolute
}

div.attend{
    width: 749px;
    height: 57px;
    left: 346px;
    top: 2123px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 10px;
    word-wrap: break-word
}

div.text{
    width: 802px;
    height: 21px;
    left: 319px;
    top: 2180px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 5.60px;
    word-wrap: break-word
}

div.rectangle5{
    width: 172px;
    height: 43px;
    left: 634px;
    top: 2309px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.tarifs{
    width: 150px;
    height: 29px;
    left: 645px;
    top: 2309px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 7px;
    word-wrap: break-word
}

div.tente{
    width: 451px;
    height: 43px;
    left: 234px;
    top: 2582px;
    position: absolute;
    text-align: center;
    color: rgba(51, 26, 0, 0.85);
    font-size: 43px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 8.60px;
    word-wrap: break-word
}

img.mains{
    width: 222px;
    height: 307px;
    left: 984px;
    top: 2492px;
    position: absolute
}

div.rectangle6{
    width: 207px;
    height: 51px;
    left: 319px;
    top: 2826px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.contact{
    width: 180px;
    height: 33px;
    left: 333px;
    top: 2835px;
    position:
    absolute;
    text-align:
    center;
    color: white;
    font-size: 23px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4.60px;
    word-wrap: break-word
}

div.rectangle7{
    width: 198px;
    height: 53px;
    left: 996px;
    top: 2833px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.decouvrir{
    width: 167px;
    height: 44px;
    left: 1011px;
    top: 2833px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 23px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4.60px;
    word-wrap: break-word"
}

div.tt{
    width: 656px;
    height: 72px;
    left: 135px;
    top: 2663px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Libre Bodoni;
    font-weight: 400; 
    letter-spacing: 5px;
    word-wrap: break-word
}
div.fond{
     width: 100%; height: 100%; position: relative; background: white
     }
img.image1{
     width: 359px; height: 497px; left: 720px; top: 591px; position: absolute
     }
img.image2{
width: 310.18px; height: 497px; left: 270px; top: 1115px; position: absolute
     {
