
body {
     margin: 0;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

div.general {
    width: 100%; 
    height: 100%;
    position: relative;
    background: white
}

img.photo1{
    width: 1440px;
    height: 878px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

div.menu{
    width: 906px;
    height: 25px;
    left: 281px;
    top: 28px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    word-wrap: break-word;
}

div.nom{
    width: 918px;
    height: 91px;
    left: 261px;
    top: 259px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 96px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 9.60px;
    word-wrap: break-word
}

div.lieu{
    width: 535px;
    height: 58px;
    left: 482px;
    top: 530px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 85px;
    font-family: Libre Caslon Display;
    font-weight: 400;
    letter-spacing: 8.50px;
    word-wrap: break-word
}

img.logo{
    width: 211px;
    height: 111px;
    left: 51px;
    top: 1px;
    position: absolute
}

div.citation{
    width: 1153px;
    height: 185px;
    left: 151px;
    top: 925px;
    position: absolute;
    text-align: center;
    color: #604020;
    font-size: 38px;
    font-family: Libre Bodoni;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word
}

img.mariage{
    width: 233px;
    height: 308px;
    left: 262px;
    top: 1195px;
    position: absolute
}

img.couple{
    width: 233px;
    height: 309px;
    left: 607px;
    top: 1199px;
    position: absolute
}

img.solo{
    width: 233px;
    height: 308px;
    left: 954px;
    top: 1199px;
    position: absolute
}

div.rectangle1{
    width: 415.40px;
    height: 0px;
    left: 551.30px;
    top: 1139.60px;
    position: absolute;
    transform: rotate(90.33deg);
    transform-origin: 0 0;
    border: 1px black solid
}

div.rectangle2{
    width: 405px;
    height: 0px;
    left: 895px;
    top: 1150px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px black solid
}

div.m{
    width: 279px;
    height: 46px;
    left: 239px;
    top: 1530px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.c{
    width: 231px;
    height: 47px;
    left: 608px;
    top: 1528px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.s{
    width: 229px;
    height: 49px;
    left: 958px;
    top: 1527px;
    position: absolute;
    text-align: center;
    color: #663300;
    font-size: 30px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 3px;
    word-wrap: break-word
}

div.portfolio{
    width: 354px;
    height: 24px;
    left: 541px;
    top: 1082px;
    position: absolute;
    text-align: center;
    color: #604020;
    font-size: 40px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 12px;
    word-wrap: break-word
}

div.rectangle3{
    width: 1442px;
    height: 363px;
    left: -2px;
    top: 1606px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

div.titre{
    width: 706px;
    height: 55px;
    left: 634px;
    top: 46px;
    position: absolute;
    color: white;
    font-size: 34px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 6.80px;
    word-wrap: break-word
}

img.moi{
    width: 346px;
    height: 196px;
    left: 139px;
    top: 78px;
    position: absolute
}

div.rectangle4{
    width: 267px;
    height: 0px;
    left: 571px;
    top: 48px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 2px black solid
}

div.cv{
    width: 712px;
    height: 200px;
    left: 634px;
    top: 101px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4px;
    word-wrap: break-word
}

img.paysage{
    width: 1440px;
    height: 507px;
    left: -1px;
    top: 1952px;
    position: absolute
}

div.attend{
    width: 749px;
    height: 57px;
    left: 346px;
    top: 2123px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 10px;
    word-wrap: break-word
}

div.text{
    width: 802px;
    height: 21px;
    left: 319px;
    top: 2180px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 5.60px;
    word-wrap: break-word
}

div.rectangle5{
    width: 172px;
    height: 43px;
    left: 634px;
    top: 2309px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.tarifs{
    width: 150px;
    height: 29px;
    left: 645px;
    top: 2309px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 7px;
    word-wrap: break-word
}

div.tente{
    width: 451px;
    height: 43px;
    left: 234px;
    top: 2582px;
    position: absolute;
    text-align: center;
    color: rgba(51, 26, 0, 0.85);
    font-size: 43px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 8.60px;
    word-wrap: break-word
}

img.mains{
    width: 222px;
    height: 307px;
    left: 984px;
    top: 2492px;
    position: absolute
}

div.rectangle6{
    width: 207px;
    height: 51px;
    left: 319px;
    top: 2826px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.contact{
    width: 180px;
    height: 33px;
    left: 333px;
    top: 2835px;
    position:
    absolute;
    text-align:
    center;
    color: white;
    font-size: 23px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4.60px;
    word-wrap: break-word
}

div.rectangle7{
    width: 198px;
    height: 53px;
    left: 996px;
    top: 2833px;
    position: absolute;
    background: rgba(51, 26, 0, 0.85)
}

div.decouvrir{
    width: 167px;
    height: 44px;
    left: 1011px;
    top: 2833px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 23px;
    font-family: Libre Bodoni;
    font-weight: 400;
    letter-spacing: 4.60px;
    word-wrap: break-word"
}

div.tt{
    width: 656px;
    height: 72px;
    left: 135px;
    top: 2663px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Libre Bodoni;
    font-weight: 400; 
    letter-spacing: 5px;
    word-wrap: break-word
}

/* Page2  */

div.general{
     width: 100%; 
     height: 100%; 
     position: relative; 
     background: white;
}

div.general1{
     width: 1743px; 
     height: 316px; 
     left: -191px; 
     top: 2587px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.85);
}

div.general2{
     width: 193.01px; 
     height: 31.12px; 
     left: 789px; 
     top: 2648px; 
     position: absolute;
}

div.general3{
     width: 25.92px; 
     height: 30.16px; 
     left: 167.09px; 
     top: 0.48px; 
     position: absolute; 
     background: white;
}

div.general4{
     width: 23.64px; 
     height: 31.12px; 
     left: 140.31px; 
     top: 0px; 
     position: absolute; 
     background: white;
}

div.general5{
     width: 28.68px; 
     height: 30.64px; 
     left: 112.48px; 
     top: 0px; 
     position: absolute; 
     background: white;
}

div.general6{
     width: 25.92px; 
     height: 30.16px; 
     left: 87.05px; 
     top: 0.48px; 
     position: absolute; 
     background: white;
}

div.general7{
     width: 28.80px; 
     height: 30.64px; 
     left: 56.65px; 
     top: 0.48px; 
     position: absolute; 
     background: white;
}

div.general8{
     width: 27.76px; 
     height: 31.12px; 
     left: 27.22px; 
     top: 0px; 
     position: absolute; 
     background: white;
}

div.general9{
     width: 23.64px; 
     height: 31.12px; 
     left: 0px; 
     top: 0px; 
     position: absolute; 
     background: white;
}
     
div.informations{
     width: 605px; 
     height: 52px; 
     left: 96px; 
     top: 2642px; 
     position: absolute; 
     text-align: center; 
     color: white; 
     font-size: 40px; 
     font-family: Libre Bodoni; 
     font-weight: 400;
     word-wrap: break-word
}

div.informations1{
     width: 199px; 
     height: 55px; 
     left: 96px; 
     top: 2717px; 
     position: absolute; 
     text-align: center; 
     color: white; 
     font-size: 40px; 
     font-family: Libre Bodoni; 
     font-weight: 400;
     word-wrap: break-word
}

div.informations2{
     width: 407px; 
     height: 127px; 
     left: 789px; 
     top: 2738px; 
     position: absolute; 
     color: white; 
     font-size: 32px; 
     font-family: Libre Bodoni; 
     font-weight: 400;
     word-wrap: break-word
}

div.informations3{
     width: 495px; 
     height: 401px; 
     left: 156px; 
     top: 324px; 
     position: absolute; 
     color: rgba(51, 26, 0, 0.85); 
     font-size: 20px; 
     font-family: Libre Bodoni; 
     font-weight: 400;
     word-wrap: break-word
}

img.informations4{
     width: 211px; 
     height: 111px; 
     left: -55px; 
     top: 0px; 
     position: absolute;
}

div.informations5{
     width: 424px; 
     height: 0px; 
     left: 138px; 
     top: 324px; 
     position: absolute; 
     transform: rotate(90deg); 
     transform-origin: 0 0; 
     border: 1px black solid
}

div.informations6{
     width: 465px; 
     height: 64px; 
     left: 138px; 
     top: 226px; 
     position: absolute; 
     color: rgba(51, 26, 0, 0.85); 
     font-size: 64px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word
}

div.informations7{
     width: 152px; 
     height: 43px; 
     left: 138px; 
     top: 762px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.85)
}

div.informations8{
     width: 100px; 
     height: 35px; 
     left: 164px; 
     top: 773px; 
     position: absolute; 
     color: white; 
     font-size: 20px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word
}

div.informations9{
     width: 231px; 
     height: 0px; 
     left: 740px; 
     top: 2642px; 
     position: absolute; 
     transform: rotate(90.25deg); 
     transform-origin: 0 0; 
     border: 1px white solid
}

img.informations10{
     width: 1440px; 
     height: 666px; 
     left: 0px; 
     top: 880px; 
     position: absolute;
}

div.informations11{
     width: 447px; 
     height: 210px; 
     left: 862px; 
     top: 283px; 
     position: absolute;
     color: black; 
     font-size: 24px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word
     color: black; 
     font-size: 24px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word
}

div.informations12{
     width: 388px; 
     height: 51px; 
     left: 862px; 
     top: 528px; 
     position: absolute; 
     color: rgba(51, 26, 0, 0.85); 
     font-size: 64px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word;
}

div.informations13{
     width: 1459px; 
     height: 144.61px; 
     left: 0px; 
     top: 0.49px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.85)
}

img.informations14{
     width: 211px; 
     height: 111px; 
     left: 51px; 
     top: 1px; 
     position: absolute;
}

div.informations15{
     width: 1710px; 
     height: 55px; 
     left: 290px; 
     top: 28px; 
     position: absolute; 
     color: white; 
     font-size: 30px; 
     font-family: Libre Bodoni; 
     font-weight: 400; 
     word-wrap: break-word;
}

div.informations16{
     width: 378px; 
     height: 97px; 
     left: 156px; 
     top: 650px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.40)
}

div.informations17{
     width: 366px; 
     height: 38px; 
     left: 156px; 
     top: 354px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.40)
}

div.informations18{
     width: 366px; 
     height: 188px; 
     left: 156px; 
     top: 425px; 
     position: absolute; 
     background: rgba(51, 26, 0, 0.40)
}

/* Page3 */

div.fond{
    width: 100%; height: 100%; position: relative; background: white
}

img.image1{
    width: 359px; height: 497px; left: 720px; top: 591px; position: absolute
}

img.image2{
    width: 310.18px; height: 497px; left: 270px; top: 1115px; position: absolute
}

div.bienvenu{
    width: 904px; height: 141px; left: 208px; top: 374px; position: absolute; color: #331A00; font-size: 30px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

div.fond2{
    width: 914.02px; height: 0px; left: 1112px; top: 548px; position: absolute; transform: rotate(179.64deg); transform-origin: 0 0; border: 1px black solid
}

div.fond3{
    width: 920.01px; height: 0px; left: 1123px; top: 354px; position: absolute; transform: rotate(179.76deg); transform-origin: 0 0; border: 1px black solid
}

div.acceuil{
    width: 815px; height: 16px; left: 175px; top: 38px; position: absolute; color: white; font-size: 30px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

div.tarifs{
    width: 442px; height: 80px; left: 429px; top: 257px; position: absolute; text-align: center; color: rgba(51, 26, 0, 0.85); font-size: 64px; font-family: Libre Bodoni; font-weight: 400; letter-spacing: 12.80px; word-wrap: break-word
}

div.fond4{
    width: 1502px; height: 181px; left: -13px; top: -45px; position: absolute; background: rgba(51, 26, 0, 0.85)
}

img.image3{
    width: 211px; height: 111px; left: 9px; top: 0px; position: absolute
}

div.fond5{
    width: 565px; padding-top: 41px; padding-left: 66px; padding-right: 67px; left: 225px; top: 703px; position: absolute; background: white; justify-content: center; align-items: center; display: inline-flex
}

div.texte1{
    width: 432px; 
    height: 232px;
    color: rgba(51, 26, 0, 0.85); font-size: 32px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word;
    color: rgba(51, 26, 0, 0.85); font-size: 24px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

div.fond6{
    width: 519px; padding-top: 39px; padding-left: 49px; padding-right: 49px; left: 507px; top: 1226px; position: absolute; background: white; justify-content: center; align-items: center; display: inline-flex
}

div.texte2{
    width: 421px; height: 277px;
    color: #331A00; font-size: 32px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word;
    color: #331A00; font-size: 30px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word;
    color: #331A00; font-size: 24px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

img.image4{
    width: 315px; height: 497px; left: 820px; top: 1680px; position: absolute
}

div.fond7{
    padding-top: 27px; padding-bottom: 67px; padding-right: 22px; left: 425px; top: 1800px; position: absolute; background: white; justify-content: flex-start; align-items: center; display: inline-flex
}

div.texte3{
    width: 438px; height: 235px;
    color: rgba(51, 26, 0, 0.85); font-size: 32px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word;
    color: rgba(51, 26, 0, 0.85); font-size: 30px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word;
    color: rgba(51, 26, 0, 0.85); font-size: 24px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

div.fond8{
    width: 1440px; height: 304px; left: 0px; top: 2440px; position: absolute; background: rgba(51, 26, 0, 0.85)
}

div.texte4{
    width: 1122px; height: 34px; left: 159px; top: 2505px; position: absolute;
    color: white; font-size: 40px; font-family: Libre Bodoni; font-style: italic; font-weight: 700; word-wrap: break-word;
    color: white; font-size: 40px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}

div.texte5{
    width: 1710px; height: 55px; left: 267px; top: 30px; position: absolute; color: white; font-size: 30px; font-family: Libre Bodoni; font-weight: 400; word-wrap: break-word
}



